/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/


$enable-margins:          true;
$enable-margins--tiny:    true;
$enable-margins--small:   true;
$enable-margins--large:   false;
$enable-margins--huge:    false;
$enable-margins--none:    true;


$enable-paddings:         true;
$enable-paddings--tiny:   true;
$enable-paddings--small:  true;
$enable-paddings--large:  false;
$enable-paddings--huge:   false;
$enable-paddings--none:   true;
